<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);"
  id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">CONTAINER PLATFORM, FOR EDGE TO CLOUD</h3>
          <p class="text-muted font-size-15">a unified application container platform built on open source Kubernetes and designed for both cloud-native applications and non-cloud-native applications running on any infrastructure either on premises, in multiple public clouds, in a hybrid model, or at the edge.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/features-img.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Optimize and accelerate application containers at scale</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our
          suite of <b>social tool</b></h3>
        <p class="text-muted font-size-15 mb-4">Speed and simplify your application container deployment and operations at scale. Best practices and automation help streamline operations and improve SLAs. We deliver highly automated playbooks for Day 0 deployments combined with best practices and configuration automation to setup container HA, backup/restore, security validation, and monitoring to minimize manual overheads for customers.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="layout"></i-feather> Donec pede justo fringilla vel
          nec.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="life-buoy"></i-feather> Cras ultricies mi eu turpis
          hendrerit fringilla.
        </p>
        <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Bridge the skills gap</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4"></h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">Deploying, operating, and maintaining application containers can be complicated due to lack of skills, technology readiness, or organizational hurdles. From planning, application containerization migration/development, POC, pre-production, and to production, our application containers help you accelerate the transformation of your technology, people, and economics so you can move fast as you drive innovation.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="server"></i-feather>
          as-a-service delivery and cloud economics
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="rss"></i-feather>
          We do the work you <b>stay focused</b> on <b>your
            customers</b>.
        </p>
        <div class="mt-5">
          <a href="javascript: void(0);" class="btn btn-primary mr-2">Read More</a>
          <a href="javascript: void(0);" class="btn btn-soft-primary">Buy Now</a>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
